
	<div class="row clearfix">
		<div class="col-md-9 col-md-offset-2">
			
			<div class="contact-form">
				<legend >Ingresar Creador</legend>
				<!-- <div class="status alert alert-success" ></div>-->
				<form id="main-contact-form" class="contact-form row" name="contact-form" action="/admin/create" method="post" >

					<div class="row">
						<div class="col-xs-3">
							<label  >Nombre Completo  </label>
						</div>
						
						</div>
						<div class="row">						
						<div class="form-group col-xs-8">
							<input type="text" class="form-control" name="fullname" required="required">
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3">
							<label  >Nombre de Usuario  </label>
						</div>
						
						</div>
						<div class="row">						
						<div class="form-group col-xs-8">
							<input type="text" class="form-control" name="username"  required="required">
						</div>
					</div>
					<div class="row">
						
						<div class="col-xs-5">
							<label >E-mail  </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group col-xs-8">
							<input type="email" class="form-control" name="email"  required="required">
						</div>
					</div>
					
					
					
					<div class="row">
						<div class="col-xs-5">
							<label  >Contraseña  </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group col-xs-8">
							<input type="password" class="form-control" name="password"  >
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<label  >Confirmación de contraseña  </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group col-xs-8">
							<input type="password" class="form-control" name="passwordConfirmation"  >
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-xs-10">
							<input type="submit" name="submit" class="btn btn-primary pull-right" value="Guardar">
						</div>
					</div>
					</form>
				
			</div>
		</div>
	</div>

