
	<div class="row clearfix">
		<div class="col-md-9 col-md-offset-2">
			
			<div class="contact-form">
				<legend >Cambiar Contraseña</legend>
				<!-- <div class="status alert alert-success" ></div>-->
				<form id="main-contact-form" class="contact-form row" name="contact-form" action="/admin/passwordchange" method="post" >
				<div class="jumbotron col-md-8 col-md-offset-2">
				
				

					<div class="row">
						<div class="">
							<h4><strong>Administrador: </strong><%=admin.fullname%></h4>
							<br>
						</div>
						</div>
					<div class="row">
						<div class="">
							<label  >Contraseña Actual </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group  ">
							<input type="password" class="form-control" name="password"  >
						</div>
					</div>
					<div class="row">
						<div class="">
							<label  >Contraseña Nueva </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group  ">
							<input type="password" class="form-control" name="passwordNew"  >
							<input type="hidden" class="form-control" name="id" value="<%=admin.id%>"  >
						</div>
					</div>
					<div class="row">
						<div class=" ">
							<label  >Confirmación de Contraseña  </label>
						</div>
						</div>
						<div class="row">	
						<div class="form-group  ">
							<input type="password" class="form-control" name="passwordConfirmation"  >
						</div>
					</div>
					
					<div class="row">
						<div class="form-group ">
							<input type="submit" name="submit" class="btn btn-primary pull-right" value="Guardar">
						</div>
					</div>
					</div>
					</form>
				
			</div>
		</div>
	</div>

