<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="contact-form">
			<div class="jumbotron">
				<% if(flash && flash.err) { %>
				<div class="status alert alert-success" >
					<% var m=JSON.stringify(flash.err) %>
					<p><%=m%></p>
				</div>
				<% } %>
				
				<h3 class="form-signin">Problemas para ingresar a egoCity</h3>
				
				
				<form id="main-contact-form" class="contact-form row" name="contact-form" action="/admin/resetpassword" method="post" >
					
					
					<h4><strong>Administrador: </strong><%=admin.fullname%></h4>
					<br>
					
					
					<label  >Por favor ingrese su nombre de usuario </label>				
					<input type="text" class="form-control" name="username" required="required" >					
					
					<label  >C칩digo </label>					
					<input type="password" class="form-control" name="code" required="required" >
					
					
					<label  >Contrase침a Nueva </label>
					<input type="password" class="form-control" name="passwordNew" required="required"  >
					<input type="hidden" class="form-control" name="id" value="<%=admin.id%>"  >
					
					<label  >Confirmaci칩n de Contrase침a  </label>
					<input type="password" class="form-control" name="passwordConfirmation" required="required" >
					
					<br>
					<div class="row">
						<div class="form-group ">
							<input type="submit" name="submit" class="btn btn-primary pull-right" value="Enviar">
						</div>
					</div>
					
				</form>
			</div>
			
		</div>
	</div>
	
</div>