<br><br>
 <div class="container">
	<div class="col-md-6 col-md-offset-3">
	<div class="contact-form">
	<div class="jumbotron">
		<% if(flash && flash.err) { %>
		<div class="status alert alert-success" >
			<% var m=JSON.stringify(flash.err) %>
			<p><%=m%></p>
		</div>
		<% } %>


		
			<div class="row">
				<div class="form-group col-xs-10">
					<h2 >Problemas para ingresar a egoCity</h2>
				</div>
			</div>		
			
			
			<form action="/resetpassword/resetpassword" method="POST" class="contact-form ">
				
						<label for="user">Para restablecer su contraseña por favor ingrese su correo electrónico</label>
					
				
						<input type="text" class="form-control" name="email" >
					
				<br>
				<button type="submit" class="btn btn-primary   pull-right" >Restablecer Contraseña</button>
				<input type="hidden" value="<%= _csrf %>">
				<br><br>
			</form>

		</div>
		</div>
	