<div class="row clearfix">
	<div class="col-md-9 col-md-offset-2">
		<form method="POST" action="/concept/create">
			<div class= "form-group">
				<input type="text" name="name" value="" placeholder="Nombre" required>	

			</div>


			<div class= "form-group">
				<textarea type="text" name="description" value="" placeholder="Descripcion" required></textarea>	

			</div>

			<div class= "form-group">
				<input type="submit" value="Guardar" class="btn btn-default" required>
			</div>
		</form>
	</div>
</div>