
 <div class="container">
	<div class="col-md-6 col-md-offset-3">
	<div class="contact-form">
		<div class="jumbotron ">

		<% if(flash && flash.err) { %>
		<div class="status alert alert-success" >
			<% var m=JSON.stringify(flash.err) %>
			<p><%=m%></p>
		</div>
		<% } %>
			
			<h2 >Cambiar Contraseña</h2>
			<!-- <div class="status alert alert-success" ></div>-->
			<form id="main-contact-form" class="contact-form row" name="contact-form" action="/user/newpassword" method="post" >
					
							<h4><strong>Usuario: </strong><%=user.fullname%></h4>
							<br>	
					
							<label  >Por favor ingrese su nombre de usuario </label>
							<input type="text" class="form-control" name="username" required="required" >
					
							<label  >Código </label>
							<input type="password" class="form-control" name="code" required="required" >
					
							<label  >Contraseña Nueva </label>					
							<input type="password" class="form-control" name="passwordNew" required="required"  >
							<input type="hidden" class="form-control" name="id" value="<%=user.id%>"  >
						
					
							<label  >Confirmación de Contraseña  </label>					
							<input type="password" class="form-control" name="passwordConfirmation" required="required" >

							<br>
							<input type="submit" name="submit" class="btn btn-primary pull-right" value="Enviar">
			</form>
			
		</div>
	</div>
</div>
</div>