<br><br>
<div class="container">
<div class="row clearfix">
	<div class="col-md-9 col-md-offset-1">
		
		
		
		
		
		<div class="jumbotron col-md-10 col-md-offset-2">
			<legend ><h2>¡Cambio de contraseña exitoso!</h2></legend>
			
			
			
			</div>
			
		</div>
		
		
		
	</div>
</div>